body {
    background-color: coral;
}
#section1{
    background-color: white;
}
#canvas1div{
    height: 600px;
    width: 800px;
}
#postCountChart {
    display: block;
    border: 2px black solid;
}