body {
    background: #081e4f;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin: 0;
}
main {
    background-color: #092568;
    width: 79%;
}
h1{
    font: bold 40px/1.5 "calibri";
    color: white;
}
h2 {
    font: bold 30px/1.5 "calibri";
    color: white;
}
p {
    font: lighter 25px/1.5 "calibri";
    color: white;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    opacity: 90%;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
}
#introductionText {
    color: black;
    font: italic 25px/1.5 "calibri";
    padding: 40px 300px 40px 300px;
}
#section2title, #section3title,  #section4title {
    background-color: black;
    opacity: 70%;
    margin: 100px 0 0 0;
}
#canvas1div, #canvas2div, #canvas3div, #canvas4div {
    height: 400px;
    width: 800px;
    margin: 40px 0 40px 0;
}
canvas {
    display: block;
    border: 2px black solid;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 90%;
}

#section2description, #section3description, #section4description, #section2description2, #section3description2, #section4description2 {
    background-color: grey; /* Black background with transparency */
    color: white; /* Text color for readability */
    padding: 40px 300px 40px 300px; /* Add space inside the box */
    margin: 0 0 0 0; /* Add space between paragraphs */
    line-height: 1.8; /* Increase line spacing for readability */
    display: flex;
    flex-direction: column;
    text-align: justify; /* Make text more aligned for better readability */
    align-content: space-around;
}