
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to bottom, #0057B7, #FFD700);
    color: #333;
}
header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: #fff;
}
h1 {
    font-size: 5em;
    margin: 0;
}
p {
    margin: 50px 0;
    font-size: 1.2em;

}
.button {
    display: inline-block;
    margin: 62px auto;
    padding: 15px 26px;
    font-size: 1.2em;
    color: #fff;
    background-color: #0057B7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.button:hover {
    background-color: #003f88;
}
footer {
    margin-top: 525px;
    font-size: 0.9em;
    color: #fff;
}